<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= tittle %>
    </title>
</head>

<body>
    <form id="form" action="/todoUpdate" method="POST" enctype="multipart/form-data">
        <div>
            <input type="text" id="input-field" name="name" placeholder="name" value="<% item.name %>">
            <input type="text" id="input-field" name="comment" placeholder="comment" value="<% item.comment %>">
            <input type="text" id="input-field" name="comment" placeholder="comment" value="<% item.time %>">
            <input type="checkbox" id="input-field" name="comment" placeholder="comment" value="<% item.complated %>">
        </div>
    </form>
</body>

</html>