body {
  background-color: gray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showTask,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#input-field {
  border: none;
  border-radius: 3px;
  width: 200px;
  height: 30px;
}

button {
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 6px 45px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: dodgerblue;
}
#taskHeader {
  margin-bottom: 13px;
  margin-top: 18px;
  font-size: 21px;
  color: black;
}

#linkShow {
  font-size: 13px;
  border: none;
  padding: 4px 15px;
  border-radius: 5px;
  background-color: rgb(36, 206, 76);
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#linkUpdate {
  font-size: 13px;
  border: none;
  padding: 4px 15px;
  border-radius: 5px;
  background-color: rgb(16, 127, 231);
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#linkDelete {
  font-size: 13px;
  border: none;
  padding: 4px 15px;
  border-radius: 5px;
  background-color: rgb(224, 70, 70);
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.a {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#id,
#header,
#comment,
#time,
#complated {
  font-weight: bold;
}
div span {
  text-decoration: none;
  font-weight: normal;
}

#complated span {
  text-transform: uppercase;
}

#label {
  font-size: 18px;
  font-weight: bold;
}

#input {
  border: none;
  border-radius: 5px;
  height: 25px;
  margin-bottom: 10px;
}
